.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  position: fixed;
  z-index: 2;
  padding: 10px;
  transition: all 500ms ease;
  color: #39ff14;
  z-index:999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  gap: 10px;
  width: 100%;
  max-width: 1024px;
  position: relative;
}
.logo {
  border: 1px solid #39ff14;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px;
  font-weight: bold;
  cursor: pointer;
}
section.right,.links {
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
}
section.middle>.links > a,
.options > a,.whatsapp,.map-location {
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
  
}
.whatsapp,.map-location{
  transition: transform 500ms ease;
  font-size: 20px;
  &:hover{
    transform: scale(2);
  }
}
.more {
  font-size: 50px;
  cursor: pointer;
}
section.mobile-menu {
  display: none;
}
.options {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  top: 60px;
  left:-10px;
  height: 100vh;
  width: 50vh;
  font-size: 40px;
  z-index:2;
  overscroll-behavior: contain;
}
@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
  section.mobile-menu {
    display: inline;
  }
  .whatsapp,.map-location{
    font-size: 20px;
  }
}
