.training-hero-container {
  padding: 50px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  height: max-content;
  min-height: 100vh;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  position: relative;
}
.hero-information {
  flex: 1;
}
.hero-information {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 40px;
}
.tag {
  width: max-content;
  padding: 10px;
  border: 1px solid #39ff14;
  border-radius: 40px;
  height: calc(max-content + 10px);
  text-align: center;
}
.hero-title {
  font-size: 60px;
}
.information {
  width: max-content;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: gray;
}
.checklists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.checklist {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 40px;
  }
  .checklist {
    font-size: 20px;
  }
  #video-player {
    position: absolute;
    left: -20px;
    height: 100vh;
    width: unset;
    padding: none;
    z-index: 1;
  }
  .hero-information {
    z-index: 2;
  }
  .training-hero-container {
    background:none
  }
}
